API_PORT=3001
CORS_ORIGIN=http://127.0.0.1:5173

# sqlite or mysql
DB_CONNECTION=sqlite

# SQLite
DB_SQLITE_PATH=storage/sqlite/arduflow.sqlite

# MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=arduflow
DB_USERNAME=root
DB_PASSWORD=
