API_PORT=3001
CORS_ORIGIN=http://127.0.0.1:5173
FRONTEND_URL=http://127.0.0.1:5173

# Primary database for users/auth/content.
DB_PRIMARY=mysql

# SQLite local database for cache/log.
DB_SQLITE_PATH=storage/sqlite/arduflow.sqlite

# MySQL main database.
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=db_arduflow
DB_USERNAME=root
DB_PASSWORD=

# Mailpit SMTP
MAIL_HOST=127.0.0.1
MAIL_PORT=1025
MAIL_SECURE=false
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM="Arduflow <no-reply@arduflow.local>"
