VITE_APP_NAME=Arduflow
VITE_API_URL=http://127.0.0.1:3001
API_PORT=3001

# sqlite or mysql
DB_CONNECTION=sqlite

# SQLite
DB_SQLITE_PATH=storage/sqlite/arduflow.sqlite

# MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=arduflow
DB_USERNAME=root
DB_PASSWORD=
